<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Cryptography</title>
  </head>
  <style>
      div {
        text-align: center;
        color: black;
        }
      img {
        border: 3px solid #000000
      }
       #grad1 {
          height: 760px;
          background-image: linear-gradient(to bottom right, red, yellow);
       }
      p {
        max-width: 800px;
        margin: auto;
        color: black;
      }

  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="about" href="/in">Instructions</a>
          <a class="nav-item nav-link" id="home" href="/levels">Levels</a>
        </div>
      </div>
    </nav>
    <div id="grad1">
      <div>
        <br>
        <h1>My Cryptography Game</h1>
      </div>
      <div>
        <br>
        <p>
          In school, I have a class called ASE and we were tasked with making a logic game. Logic game is a broad category so we could do basically whatever we wanted to as long as it provoked cognitive thinking. I decided to make a cryptogram because I was researching the Zodiac killer for an English project and he used cryptograms to taught the police. So I said hey why not. I wanted to make a website so that I could control automate everything and that's what I did. I learned HTML, javascript, and CSS in the process and this is what I ended up with. Enjoy!

        </p>
      </div>
          <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>