<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Cryptography</title>
  </head>
  <style>
       div {text-align: center;}
      img {
      border: 2px solid #000000
      }
      body {
        color: black;
      }
      #grad1 {
          height: 760px;
          background-image: linear-gradient(to bottom right, red, yellow);
       }
  </style>
  <body>
    <div id="grad1">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" href="/in">Instructions</a>
            {% block answer %} {% endblock %}
          </div>
        </div>
      </nav>
      <br>
      <div>
          <h1>Levels</h1>
      </div>
      <br>

      <div>
        <a href="Puzzle1">
        <img src="https://lh3.googleusercontent.com/r0Uu6jFHHwdWWiWCPE7B-kBwiq-OqPhgeIR-735-xc7gNadaBt4Wv4R2etQMXWau0GNhCBzjbw5k2et_wy146BlGTNPIs6qOHCGzqh1Vy-UPXRq2ZNMhEJY4wz12zElEcz48r01tdg=w2400">
        </a>
        <a href="Puzzle2">
        <img src="https://lh3.googleusercontent.com/6BXLfu8csUwnWnXfTFDme3Xtm5b7LccVy-RH6ngPDA0Fo-NZ2x6z48EQt5Iaj8Hgun0DBOl8Aual4pxT4021KUCf6b0n74ka1PKv1KbSLUT04kk2ciz0z4OJZtZ3x4MK_Lk7fgjoyw=w2400">
        </a>
        <a href="Puzzle3">
        <img src="https://lh3.googleusercontent.com/lR914KkG7RM65ARAYxBbPb3_0Qe_69Z4fuCJFSStI8eQ3vdQZ75MJI1payT-MdMveZ59DyBHBi1YKdTo5JkaO4qV5I60xa_W4vI7v255x-OzkJu9GPPN-F7mDwCVGoi0z1mCRNQGwQ=w2400">
        </a>
        <br>
      </div>

      <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
      ></script>
    </div>
</body>
</html>